.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  padding: 1rem;
  background-color: #27374d;
}

.form-container .form-group {
  margin-bottom: 20px;
}

.form-container input[type="text"],
form input[type="password"],
form input[type="number"],
form input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #27374d;
  border-radius: 5px;
}

.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #dde6ed;
  background-color: #6494ed;
  cursor: pointer;
}

.form-container .forgot-pinNumber {
  display: flex;
  justify-content: right;
  margin-top: 5px;
  font-size: 12px;
}

.form-container .forgot-pinNumber a {
  color: #9db2bf;
  text-decoration: none;
}

.form-container .login-here a,
.register-here a {
  text-decoration: none;
  color: #9db2bf;
}

.form-container form .form-title {
  font-size: 18px;
  font-weight: 300;
  color: #dde6ed;
}

.form-container .image-submit {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
