.nutrition-table {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 80%;
}

.nutrition-table table {
  border-collapse: collapse;
}

.nutrition-table th,
.nutrition-table td {
  padding: 20px;
  background-color: #354864;
  border: 1px solid #27374d;
  text-align: left;
  width: 5%;
}

.nutrition-table th {
  background-color: #27374d;
}

.nutrion-table-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #dde6ed;
  background-color: #6494ed;
  cursor: pointer;
}
