.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  padding: 1rem;
}

form .form-group {
  margin-bottom: 20px;
}

form input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #27374d;
  border-radius: 5px;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #dde6ed;
  background-color: #27374d;
  cursor: pointer;
}

form .forgot-password {
  display: flex;
  justify-content: right;
  margin-top: 5px;
  font-size: 12px;
}

form .forgot-password a {
  color: #9db2bf;
  text-decoration: none;
}

.login-here a,
.register-here a {
  text-decoration: none;
  color: #9db2bf;
}

form .form-title {
  font-size: 18px;
  font-weight: 300;
  color: #dde6ed;
}

#code-verification-form {
  display: none;
}

#new-password-form {
  display: none;
}
